* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Comfortaa';
    background-color: #000000;
}

nav {
    background: rgb(0, 0, 0);
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 9999;
}

label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
    z-index: 999;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: rgb(255, 255, 255);
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
}

#canvas1 {
    border-bottom: 5px rgb(116, 116, 116) solid;
    top: 50%;
    left: 50%;
    position: absolute;
    width: 100%;
    height: 100vh;
    transform: translate(-50%, -50%);
    z-index: 999;
}


a:hover {
    background: #0082e6;
    transition: .5s;
}

#check {
    display: none;
}

.checkbtn {
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}


.reveal {
    position: relative;
    transform: translateY(120px);
    opacity: 0;
    transition: 1.5s all ease;
}

.revealNav {
    left: 0;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

.introbody {
    position: relative;
    display: flex;
    height: 100vh;
    width: 100%;
    z-index: 999;
}


.heading {
    position: relative;
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: center;
    width: fit-content;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    font-weight: 300px;
    z-index: 999;
}

.heading--one,
.heading--two {
    font-size: 4rem;
    z-index: 997;
}

.heading--three {
    display: flex;
    justify-content: center;
    position: relative;
    color: #feda4a;
    font-family: 'Pathway Gothic One', sans-serif;
    font-weight: 600;
    letter-spacing: 6px;
    perspective: 400px;
    text-align: justify;
    top: 99999px;
    transform-origin: 50% 100%;
    animation: thirdheading 100s linear;
    z-index: 999;
}

@keyframes thirdheading {
    from {
        top: 0;
        transform: rotateX(20deg);
        transform: translateZ(0)
    }

    to {
        top: -7500px;
        transform: rotateX(21deg);
        transform: translateZ(-4500px);
    }
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.about--heading {
    position: relative;
    font-size: 5.5rem;
    font-weight: 700;
    margin-top: 9rem;
    margin-bottom: 11rem;
    z-index: 9999;
    color: #fff;
    text-decoration: underline rgb(56, 192, 230);
}

.about--content {
    display: flex;
    justify-content: space-between;
    width: 86%;
}

.sides--profile {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
    width: 100%;
}

.profile--picture {
    height: 24rem;
    margin-bottom: 4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.selfieimage {
    height: 100%;
    width: 18rem;
}

.profile--para {
    font-size: 1.2rem;
    width: 75%;
    line-height: 1.7;
    color: #fff;
    text-align: center;
}

.skills {
    display: flex;
    justify-content: center;
    width: 100%;
}

.skilltitle {
    color: #fff;
    font-size: 60px;

}

.skillnames {
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 40px;
    justify-items: center;
    gap: 100px;

}



.skillname {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 5px solid rgb(161, 26, 26);
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects--heading {
    position: relative;
    font-size: 5.5rem;
    font-weight: 700;
    margin-top: 9rem;
    margin-bottom: 9rem;
    z-index: 9999;
    color: #fff;
    text-decoration: underline rgb(56, 192, 230);
}

.anchorlinks {
    display: block;
}

.imagesource {
    width: 100%;
}

.cardprojects {
    cursor: pointer;
    display: flex;
    background-color: white;
    flex-direction: column;
    min-width: 200px;
    max-width: 500px;
    text-align: center;
    min-height: 450px;
    border-radius: 1rem;
    margin: 1.5rem;
    transition: 0.3;
}

.cardprojects:hover {
    transform: scale(1.1);
}

.cardtext {
    margin: 0.5rem;
    color: #000033;
}

.summary {
    font-size: 20px;
}

.infotag {
    font-weight: 400;
    opacity: 0.7;
    color: black;
}

.contact {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 999;
    margin-bottom: 9rem;
}

.contact--heading {
    position: relative;
    font-size: 5.5rem;
    font-weight: 700;
    margin-top: 9rem;
    margin-bottom: 5rem;
    z-index: 9999;
    color: #fff;
    text-decoration: underline rgb(56, 192, 230);
}

.contact--para {
    font-size: 1.8rem;
    margin-bottom: 2rem;
    color: #fff;
    text-align: center;
}

.emailtext {
    font-size: 1.8rem;
    border: 5px solid rgb(161, 26, 26);
    border-radius: 5px;
    padding: 5px;
    color: #fff;
}

.infotag {
    font-size: 35px;
}

.infotag:hover {
    background-color: yellow;
}

.footer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 160px;
    background-color: #131a24;
}

.profilelinks {
    display: flex;
    margin-bottom: 20px;
}

.socials i {
    font-size: 50px;
}

.copyright {
    font-size: 1.3rem;
}

@media (max-width: 1249px) {
    .about--content {
        width: 60%;
    }
}

@media (max-width: 1069px) {
    .about--content {
        flex-direction: column;

    }

    .about {
        width: auto;
    }

    .cardprojects {
        max-width: 360px;
    }

    .profile--para {
        padding-bottom: 40px;
        text-align: center;
    }
}

@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 856px) {
    .checkbtn {
        display: block;
    }

    .navbarul {
        position: absolute;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 1s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover {
        background: none;
        color: #0082e6;
    }

    .revealNav {
        left: 0;
    }

}

@media (max-width: 856px) {
    .profile--para {
        width: 420px;
    }

    .cardprojects {
        width: 300px;
        min-height: 400px;
    }

    .contact--para {
        font-size: 1rem;
        width: 70%;
    }

    .projects--heading {
        font-size: 3.5rem;
        margin-bottom: 4rem;
    }

    .about--heading {
        font-size: 3.5rem;
        margin-bottom: 5rem;
    }

    .contact--heading {
        font-size: 3.5rem;
        margin-top: 5rem;
    }

}

@media (max-width: 408px) {
    label.logo {
        font-size: 15px;
    }
}

@media (max-width: 330px) {
    label.logo {
        font-size: 10px;
    }
}