* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Comfortaa';
    background-color: #000000;
}

nav {
    background: rgb(0, 0, 0);
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 9999;
}

label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
    z-index: 999;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: rgb(255, 255, 255);
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
}

#canvas1 {
    border-bottom: 5px rgb(116, 116, 116) solid;
    top: 50%;
    left: 50%;
    position: absolute;
    width: 100%;
    height: 100vh;
    transform: translate(-50%, -50%);
    z-index: 999;
}


a:hover {
    background: #53bfe2;
    transition: .7s;
}

#check {
    display: none;
}

.checkbtn {
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}


.reveal {
    position: relative;
    transform: translateY(120px);
    opacity: 0;
    transition: 1.5s all ease;
}

.revealNav {
    left: 0;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

.introbody {
    position: relative;
    display: flex;
    height: 100vh;
    width: 100%;
    z-index: 999;
}


.heading {
    position: relative;
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: center;
    width: fit-content;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    font-weight: 300px;
    z-index: 999;
}

.heading--one,
.heading--two {
    font-size: 4rem;
    z-index: 997;
}

.heading--three {
    display: flex;
    justify-content: center;
    position: relative;
    color: #0ad0f8;
    font-family: 'Pathway Gothic One', sans-serif;
    font-weight: 680;
    font-size: 20px;
    letter-spacing: 6px;
    perspective: 400px;
    text-align: justify;
    top: 99999px;
    transform-origin: 50% 100%;
    animation: thirdheading 100s linear;
    z-index: 999;
    text-decoration: underline 1.5px #48c5e1;
}



@keyframes thirdheading {
    from {
        top: 0;
        transform: rotateX(20deg);
        transform: translateZ(0)
    }

    to {
        top: -7500px;
        transform: rotateX(21deg);
        transform: translateZ(-4500px);
    }
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.about--heading {
    position: relative;
    font-size: 5.5rem;
    font-weight: 700;
    margin-top: 9rem;
    margin-bottom: 12rem;
    z-index: 9999;
    color: #fff;
    text-decoration: underline rgb(56, 192, 230);
}

.about--content {
    display: flex;
    justify-content: space-between;
    width: 86%;
}

.sides--profile {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
    width: 100%;
}

.profile--picture {
    height: 24rem;
    margin-bottom: 4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.selfieimage {
    height: 100%;
    width: 18rem;
    border: solid 3px rgb(22, 87, 143);
    border-radius: 10px;
    transition: filter 1s;
    filter: drop-shadow(0px -25px 65px rgb(22, 87, 143)) contrast(90%) hue-rotate(12deg);
}

.selfieimage:hover {
    border: solid .9px rgb(26, 164, 169);
    filter: drop-shadow(0px 0px 16px rgb(22, 87, 143)) contrast(100%);
    transition: filter 2s;
}

.profile--para {
    font-size: 1.2rem;
    width: 75%;
    line-height: 1.7;
    color: #fff;
    text-align: center;
}

.ferris-wheel {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #000000;
}

.skilltitle {
    color: #fff;
    font-size: 60px;

}

.ferris-wheel .wheel-wrap {
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 40px;
    justify-items: center;
    gap: 100px;
    animation: wheel_rotate 60s infinite linear;
}

.wheels {
    display: flex;
    position: relative;
    border: 2px solid #3d579f;
    width: 515px;
    height: 515px;
    border-radius: 50%;
    box-sizing: border-box;
}

.wheels::before {
    content: '';
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    width: 400px;
    height: 400px;
    margin-left: -200px;
    margin-top: -200px;
    border: 2px solid #53dfcf;
    border-radius: 50%;
    box-sizing: border-box;
}

.wheels:after {
    content: '';
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    width: 110px;
    height: 110px;
    margin-left: -53px;
    margin-top: -53px;
    background: linear-gradient(90deg, #380036, 50%, #0CBABA);
    border: 4px solid #67c6d4;
    border-radius: 50%;
    box-sizing: border-box;
}

.wheels span {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin-top: -1px;
    border-bottom: 2px solid #5a6d95;
}

.wheels span:nth-child(1) {
    transform: rotate(90deg);
}


.wheels span:nth-child(3) {
    transform: rotate(0deg);
}



.wheels span:nth-child(5) {
    transform: rotate(90deg);
}

.wheels span:nth-child(7) {
    transform: rotate(50deg);
}

.wheels span:nth-child(9) {
    transform: rotate(130deg);
}


@keyframes wheel_rotate {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.buckets {
    position: absolute;
    z-index: 3;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.buckets div {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 105px;
    height: 90px;
    background-color: #2c6c7a;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 2px;
    transform-origin: 50% 5%;
    animation: bucket_rotate 60s infinite linear;
}

.buckets div::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    width: 15px;
    height: 8px;
    margin: -2px 0 0 -3px;
    background-color: #b5fff6;
    border-top-left-radius: 2px;
    border-top-left-radius: 2px;
}

.buckets div span {
    position: absolute;
    left: 2px;
    top: 2px;
    width: 99px;
    height: 72px;
    background: linear-gradient(90deg, #380036, 50%, #0CBABA);
    border-left: 1px solid #6f7d99;
    border-top: 1px solid #6f7d99;
    font-size: 13px;
    text-shadow:
        0.05em 0 black,
        0 0.05em black,
        -0.05em 0 black,
        0 -0.05em black,
        -0.05em -0.05em black,
        -0.05em 0.05em black,
        0.05em -0.05em black,
        0.05em 0.05em black;

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.buckets div span:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    height: 7px;
    background-color: rgba(54, 14, 48, 0.2);
}

@keyframes bucket_rotate {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(-360deg)
    }
}

.buckets div:nth-child(1) {
    margin: -260px 0 0 -56px;
}

.buckets div:nth-child(2) {
    margin: -2px 0 0 200px;
}

.buckets div:nth-child(3) {
    margin: 250px 0 0 -56px;
}

.buckets div:nth-child(4) {
    margin: -2px 0 0 -315px;
}

.buckets div:nth-child(5) {
    margin: 195px 0 0 -223px;
}

.buckets div:nth-child(6) {
    margin: 195px 0 0 106px;
}

.buckets div:nth-child(7) {
    margin: -197px 0 0 -221px;
}

.buckets div:nth-child(8) {
    margin: -197px 0 0 113px;
}


.buckets div:nth-child(even) {
    background-color: #2c6c7a;
}

.stand {
    position: absolute;
    z-index: 10;
    left: 50%;
    top: 50%;
    width: 0px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0d2130;
    border-radius: 50%;
    font-size: 25px;
    transform: translate(-50%, -50%);
    animation: stand_rotate 60s infinite linear;


}


@keyframes stand_rotate {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(-360deg)
    }
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects--heading {
    position: relative;
    font-size: 5.5rem;
    font-weight: 700;
    margin-top: 16rem;
    margin-bottom: 9rem;
    z-index: 9999;
    color: #fff;
    text-decoration: underline rgb(56, 192, 230);
}

.anchorlinks {
    display: block;
}

.imagesource {
    width: 100%;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

.cardprojects {
    cursor: pointer;
    display: flex;
    background-color: white;
    flex-direction: column;
    min-width: 200px;
    max-width: 500px;
    text-align: center;
    min-height: 450px;
    border-radius: 1rem;
    margin: 1.7rem;
    transition: 0.3;
    position: relative;

}

.cardprojects:hover {
    transform: scale(1.1);
    transition: .3s;
}

.cardtext {
    margin: 0.7rem;
    color: #000033;
}

.summary {
    font-size: 20px;
    margin-bottom: 10px;
}

.links-and-skills {
    display: flex;
    flex-direction: column;
}

.skills-title {
    margin-bottom: 0;
    margin-top: 10px;
}

.infotag {
    font-weight: 400;
    opacity: 0.7;
    color: black;
    text-decoration: underline;
}

.infotag a {
    position: static;
    color: #000000;
}

.infotag a::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.codelink {
    z-index: 5;
    padding: 4px;
    background-color: #66d7f0;
    border-radius: 5px;
    color: #000000;
    margin: 0 auto;
}

.languages {
    background-color: #98c7ea;
    border-radius: 9px;
}

.contact {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 999;
    margin-bottom: 9rem;
}

.contact--heading {
    position: relative;
    font-size: 5.5rem;
    font-weight: 700;
    margin-top: 13rem;
    margin-bottom: 5rem;
    z-index: 9999;
    color: #fff;
    text-decoration: underline rgb(56, 192, 230);
}

.contact--para {
    font-size: 1.8rem;
    margin-bottom: 2rem;
    color: #fff;
    text-align: center;
}

.emailtext {
    font-size: 1.8rem;
    border: 5px solid rgb(68, 140, 161);
    border-radius: 5px;
    padding: 5px;
    color: #fff;
}

.infotag {
    font-size: 35px;
}

.infotag:hover {
    background-color: #98c7ea;
    border-radius: 7px;
    text-decoration: underline;
    color: #000000;
}

.footer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 3.8rem;
    background-color: #000000;
    color: #fff;
}

.profilelinks {
    display: flex;
}

.socials i {
    font-size: 50px;
    color: #0CBABA;
}

.socials {
    margin: 10px;
    color: #fcfcfc;
}

.profilelinks a:hover {
    background-color: #0f2c36;
    border-radius: 8px;
}


.copyright {
    margin-top: 10px;
    font-size: 1.3rem;
}

@media (max-width: 1249px) {
    .about--content {
        width: 60%;
    }
}

@media (max-width: 1069px) {
    .about--content {
        flex-direction: column;

    }

    .about {
        width: auto;
    }

    .cardprojects {
        max-width: 360px;
    }

    .profile--para {
        padding-bottom: 40px;
        text-align: center;
    }
}

@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 856px) {
    .checkbtn {
        display: block;
    }

    .navbarul {
        position: absolute;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 1s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover {
        background: none;
        color: #0082e6;
    }

    .revealNav {
        left: 0;
    }

}

@media (max-width: 856px) {
    .profile--para {
        width: 420px;
    }

    .cardprojects {
        width: 300px;
        min-height: 400px;
    }

    .contact--para {
        font-size: 1rem;
        width: 70%;
    }

    .projects--heading {
        font-size: 3.5rem;
        margin-bottom: 4rem;
    }

    .about--heading {
        font-size: 3.5rem;
        margin-bottom: 5rem;
    }

    .contact--heading {
        font-size: 3.5rem;
        margin-top: 8.5rem;
    }

}

@media (max-width: 700px) {
    .wheels {
        display: flex;
        position: relative;
        border: 2px solid #3d579f;
        width: 335px;
        height: 335px;
        border-radius: 50%;
        box-sizing: border-box;
    }

    .wheels::before {
        content: '';
        position: absolute;
        z-index: 1;
        left: 50%;
        top: 50%;
        width: 280px;
        height: 280px;
        margin-left: -140px;
        margin-top: -140px;
        border: 2px solid #b5fff6;
        border-radius: 50%;
        box-sizing: border-box;
    }

    .wheels:after {
        content: '';
        position: absolute;
        z-index: 2;
        left: 50%;
        top: 50%;
        width: 60px;
        height: 60px;
        margin-left: -29px;
        margin-top: -29px;
        background-color: #2c6c7a;
        border: 2px solid #4695c3;
        border-radius: 50%;
        box-sizing: border-box;
    }

    .stand {
        font-size: 15px;
        text-align: center;
        left: 50%;
        font-weight: bold;
        color: #f2f2f2;

    }

    .buckets div {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 95px;
        height: 80px;
        background-color: #2c6c7a;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 2px;
        transform-origin: 50% 5%;
        animation: bucket_rotate 60s infinite linear;
    }

    .buckets div::before {
        content: '';
        position: absolute;
        left: 50%;
        top: 0;
        width: 15px;
        height: 8px;
        margin: -2px 0 0 -10px;
        background-color: #b5fff6;
        border-top-left-radius: 2px;
        border-top-left-radius: 2px;
    }

    .buckets div span {
        position: absolute;
        left: 2px;
        top: 2px;
        width: 90px;
        height: 72px;
        background-color: rgb(142, 77, 77);
        border-left: 1px solid #6f7d99;
        border-top: 1px solid #6f7d99;
        font-size: 12px;
        color: #ffffff;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }


    .buckets div:nth-child(1) {
        margin: -170px 0 0 -46px;
    }

    .buckets div:nth-child(2) {
        margin: -6px 0 0 119px;
    }

    .buckets div:nth-child(3) {
        margin: 161px 0 0 -46px;
    }

    .buckets div:nth-child(4) {
        margin: -6px 0 0 -215px;
    }

    .buckets div:nth-child(5) {
        margin: 127px 0 0 -154px;
    }

    .buckets div:nth-child(6) {
        margin: 127px 0 0 64px;
    }

    .buckets div:nth-child(7) {
        margin: -127px 0 0 -154px;
    }

    .buckets div:nth-child(8) {
        margin: -130px 0 0 63px;
    }

    .buckets div:nth-child(even) {
        background-color: rgb(22, 82, 62);
    }

}



@media (max-width: 500px) {
    label.logo {
        font-size: 24px;
        color: #fff;

    }


}


@media (max-width: 408px) {
    label.logo {
        font-size: 20px;
        color: #fff;
    }
}

@media (max-width: 330px) {
    label.logo {
        font-size: 15px;
        color: #fff;
    }
}