.thingsbuilt {
    color: black;
    padding-left: 10px;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.headercard {
    color: cyan;
}

.footercard {
    color: cyan;
    text-decoration: underline white;
}