.Contactme {
    text-decoration: underline;
    display: flex;
    position: relative;
    align-items: center;
    margin-top: 30%;


}

.contactpara {
    position: relative;

    padding-top: 1.5%;
}

.buttonemail {
    align-items: center;
    background-color: rgb(248, 250, 252);
    margin-left: 48%;
    margin-top: 2%;
    margin-bottom: 10%;
    border-radius: 10px;
}

@media screen and (max-width: 390px) {
    .contactpara {
        font-size: 13px;
        width: 200%;
        padding-right: 50%;
        padding-left: 0;
    }

    .Contactme {
        margin-left: 20%;
        width: 200%;
    }

    .buttonemail {
        margin-left: 10%;
    }
}

@media screen and (max-width: 414px) {
    .contactpara {
        font-size: 13px;
        width: 200%;
        padding-right: 30%;
        padding-left: 0;
    }

    .Contactme {
        margin-left: 10%;
        width: 200%;
    }

    .buttonemail {
        margin-left: 10%;
    }

}